.abacusContainer {
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
}

.combinedBytes {
  /* background-color: rgb(227, 214, 241); */
  padding: 2rem;
  border-radius: 0.6rem;
  border: solid 2px rgb(154, 79, 235);
}
